.about .text{
    padding-left: 8px;
}
.home_page{
    padding-bottom: 100px;
}


.section-title {
    text-align: center;
    /*padding-bottom: 10px;*/
}

.facts .counters span {
    font-size: 48px;
    display: block;
    color: #34b7a7;
}
/*.facts .counters p {*/
/*    padding: 0;*/
/*    margin: 0 0 20px 0;*/
/*    font-family: "Raleway", sans-serif;*/
/*    font-size: 14px;*/
/*}*/

.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}
.progress, .progress-stacked {
    --bs-progress-height: 1rem;
    --bs-progress-font-size: 0.75rem;
    --bs-progress-bg: var(--bs-secondary-bg);
    --bs-progress-border-radius: var(--bs-border-radius);
    --bs-progress-box-shadow: var(--bs-box-shadow-inset);
    --bs-progress-bar-color: #fff;
    --bs-progress-bar-bg: #0d6efd;
    --bs-progress-bar-transition: width 0.6s ease;
    display: flex;
    height: var(--bs-progress-height);
    overflow: hidden;
    font-size: var(--bs-progress-font-size);
    background-color: var(--bs-progress-bg);
    border-radius: var(--bs-progress-border-radius);
}
.skills .progress .skill {
    padding: 10px 0;
    margin: 0 0 6px 0;
    /*text-transform: uppercase;*/
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #222222;
}
.skills .progress .skill .val {
    float: right;
    font-style: normal;
}
.skills .progress-bar-wrap {
    background: #f3f3f3;
}
.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 2s;
    background-color: #34b7a7;
}
.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--bs-progress-bar-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--bs-progress-bar-bg);
    transition: var(--bs-progress-bar-transition);
}
