
<div class="contact_page container">
    <div class="row justify-content-center mt-5">

        <div class="col-sm-12 col-md-10 col d-flex align-items-stretch bg-dark text-white rounded">
            <div class="info-wrap w-100 p-md-5 p-4 py-5 img">
                <h3>Contact info</h3>

                <hr class="hr" />

                <p class="mb-4">I am open to any opportunity and suggestion.</p>




                <div class="dbox w-100 d-flex align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="fa fa-map-marker"></span>
                    </div>
                    <div class="text pl-3">
                        <p><span>Current location: </span>Hong Kong</p>
                    </div>
                </div>

                <div class="dbox w-100 d-flex align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="fa fa-paper-plane"></span>
                    </div>
                    <div class="text pl-3">
                        <p><span>Email:</span> <a href="mailto:info@leeswlwpl@gmail.com">leeswlwpl@gmail.com</a></p>
                    </div>
                </div>

                <div class="dbox w-100 d-flex align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="fa fa-globe"></span>
                    </div>
                    <div class="text pl-3">
                        <p><span>Github</span> <a href="https://github.com/leeswlwpl/">https://github.com/leeswlwpl/</a></p>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>



<style>
    .contact_page .text p{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
    }
    .contact_page .icon{
        width: 16px;
    }


</style>
