
<div class="home_page container">
    <section id="about" class="about">
    <div class="row justify-content-center mt-5">
        <h1 class="text-center">ABOUT</h1>
        <div class="divider_short"></div>

<!--        <div class="dbox w-100 d-flex align-items-start">-->
<!--            <div class="icon d-flex align-items-center justify-content-center mt-1">-->
<!--                <i class="fa-solid fa-star"></i>-->
<!--            </div>-->
<!--            <div class="text pl-3">-->
<!--                <h6 class="">All-round senior software engineer with 5 years of extensive experience, including mobile apps, websites, cloud service, databases & SQL, IoT, Web3, and blockchain technology. </h6>-->
<!--            </div>-->
<!--        </div>-->
        <div class="dbox w-100 d-flex align-items-start">
            <div class="icon d-flex align-items-center justify-content-center mt-1">
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="text pl-3">
                <p class="fst-italic ">Growing up in a start-up culture, good at understanding client's needs and designing technical solutions accordingly. </p>
            </div>
        </div>
        <div class="dbox w-100 d-flex align-items-start">
            <div class="icon d-flex align-items-center justify-content-center mt-1">
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="text pl-3">
                <p class="fst-italic ">Able to carry out a whole project entirely, from communicating with clients, designing and planning, developing and executing, demonstrating, writing doc, revamping, presenting, and keep maintaining finally.  </p>
            </div>
        </div>
    </div>

        <div class="row mt-5">
            <div class="col-lg-4">
                <img src="assets/img/self_photo_cut_styled.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content">
                <h3>Tech Lead & Co-Founder</h3>
                <p class="fst-italic">
                    All-round senior software engineer with 5 years of extensive experience, including mobile apps, websites, cloud service, databases & SQL, IoT, Web3, and blockchain technology.

                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-rounded-right"></i> <strong>Email:</strong> leeswlwpl@gmail.com</li>
<!--                            <li><i class="bi bi-rounded-right"></i> <strong>Website:</strong> www.example.com</li>-->
<!--                            <li><i class="bi bi-rounded-right"></i> <strong>Phone:</strong> +123 456 7890</li>-->
                            <li><i class="bi bi-rounded-right"></i> <strong>City:</strong> Hong Kong</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Age:</strong> under 30</li>

                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>

                            <li><i class="bi bi-rounded-right"></i> <strong>Degree:</strong> Information Engineering in CUHK</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Minor:</strong> Computer Science in CUHK</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Freelance:</strong> Available</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="facts" class="facts">
    <div class="row justify-content-center mt-5">
            <div class="container aos-init aos-animate" data-aos="fade-up">
                <div class="section-title row justify-content-center">
                    <h1>FACTS</h1>
                    <div class="divider_short"></div>
                </div>

                <p class="fst-italic text-center">
                    DevOps of over 20 projects mainly in Ecommerce and Web3.
                </p>

                <div class="row counters">
                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="0" class="purecounter">5</span>
                        <p>Years of experience</p>
                    </div>
                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="0" class="purecounter">20</span>
                        <p>Clients</p>
                    </div>
                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="40" data-purecounter-duration="0" class="purecounter">40</span>
                        <p>Projects</p>
                    </div>
                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="0" class="purecounter">10</span>
                        <p>Public events</p>
                    </div>
                </div>

            </div>

    </div>
    </section>


</div>


<style>
    .about .text{
        padding-left: 8px;
    }


    .facts .counters span {
        font-size: 48px;
        display: block;
        color: #34b7a7;
    }

    .section-title {
        text-align: center;
        /*padding-bottom: 10px;*/
    }

</style>


