
<div class="home_page container">
    <section id="about" class="about">
    <div class="row justify-content-center mt-5">
        <h1 class="text-center">ABOUT</h1>
        <div class="divider_short"></div>

        <div class="dbox w-100 d-flex align-items-start">
            <div class="icon d-flex align-items-center justify-content-center mt-1">
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="text pl-3">
                <h6 class="">All-round Senior Software engineer with 5 years of extensive experience, including mobile apps, websites, cloud service, databases & SQL, IoT, Web3, and blockchain technology. </h6>
            </div>
        </div>
        <div class="dbox w-100 d-flex align-items-start">
            <div class="icon d-flex align-items-center justify-content-center mt-1">
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="text pl-3">
                <h6 class="">Growing up in a start-up culture, good at understanding client's needs and designing technical solutions accordingly. </h6>
            </div>
        </div>
    </div>
    </section>

    <section id="facts" class="facts">
    <div class="row justify-content-center mt-5">
            <div class="container aos-init aos-animate" data-aos="fade-up">
                <div class="section-title row justify-content-center">
                    <h1>FACTS</h1>
                    <div class="divider_short"></div>
                </div>

                <div class="row counters">
                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="0" class="purecounter">5</span>
                        <p>Years of experience</p>
                    </div>
                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="0" class="purecounter">20</span>
                        <p>Clients</p>
                    </div>
                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="40" data-purecounter-duration="0" class="purecounter">40</span>
                        <p>Projects</p>
                    </div>
                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="0" class="purecounter">10</span>
                        <p>Public events</p>
                    </div>
                </div>

            </div>

    </div>
    </section>


</div>


<style>
    .about .text{
        padding-left: 8px;
    }


    .facts .counters span {
        font-size: 48px;
        display: block;
        color: #34b7a7;
    }

    .section-title {
        text-align: center;
        /*padding-bottom: 10px;*/
    }

</style>


