
<div class="home_page container">
    <section id="about" class="about">
        <div class="row justify-content-center mt-5">
            <h1 class="text-center">ABOUT</h1>
            <div class="divider_short"></div>

            <!--        <div class="dbox w-100 d-flex align-items-start">-->
            <!--            <div class="icon d-flex align-items-center justify-content-center mt-1">-->
            <!--                <i class="fa-solid fa-star"></i>-->
            <!--            </div>-->
            <!--            <div class="text pl-3">-->
            <!--                <h6 class="">All-round software engineer with 5 years of extensive experience, including mobile apps, websites, cloud service, databases & SQL, IoT, Web3, and blockchain technology. </h6>-->
            <!--            </div>-->
            <!--        </div>-->
            <div class="dbox w-100 d-flex align-items-start">
                <div class="icon d-flex align-items-center justify-content-center mt-1">
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="text pl-3">
                    <p class="fst-italic ">Growing up in a start-up culture, good at understanding client's needs and designing technical solutions accordingly. </p>
                </div>
            </div>
            <div class="dbox w-100 d-flex align-items-start">
                <div class="icon d-flex align-items-center justify-content-center mt-1">
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="text pl-3">
                    <p class="fst-italic ">Able to carry out a whole project entirely, from communicating with clients, designing and planning, developing and executing, demonstrating, writing doc, revamping, presenting, and keep maintaining finally.  </p>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-4">
                <img src="assets/img/self_photo_cut_styled.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-8 pt-4 pt-md-0 content">
                <h3>Tech Lead & Co-Founder</h3>
                <p class="fst-italic">
                    All-round software engineer with 5 years of extensive experience, including mobile apps, websites, cloud service, databases & SQL, IoT, Web3, and blockchain technology.
                    DevOps of over 20 projects mainly in Ecommerce and Web3.

                </p>
                <div class="row">
                    <div class="col-md-5">
                        <ul>

                            <!--                            <li><i class="bi bi-rounded-right"></i> <strong>Website:</strong> www.example.com</li>-->
                            <!--                            <li><i class="bi bi-rounded-right"></i> <strong>Phone:</strong> +123 456 7890</li>-->
                            <li><i class="bi bi-rounded-right"></i> <strong>City:</strong> Hong Kong</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Age:</strong> under 30</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Email:</strong> leeswlwpl@gmail.com</li>

                        </ul>
                    </div>
                    <div class="col-md-7">
                        <ul>

                            <li><i class="bi bi-rounded-right"></i> <strong>Degree:</strong> Information Engineering in CUHK</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Minor:</strong> Computer Science in CUHK</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Freelance:</strong> Available</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="facts" class="facts">
        <div class="row justify-content-center mt-5">
            <div class="container " data-aos="fade-up">
                <div class="section-title row justify-content-center">
                    <h1>FACTS</h1>
                    <div class="divider_short"></div>
                </div>

                <p class="fst-italic text-center">
                    With 5 years of working experience, I've successfully delivered numerous projects, collaborated with diverse clients, and orchestrated multiple events.
                </p>

                <div class="row counters">
                    <div class="col-md-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="2" class="purecounter"></span>
                        <p>Years of experience</p>
                    </div>
                    <div class="col-md-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="2" class="purecounter"></span>
                        <p>Clients</p>
                    </div>
                    <div class="col-md-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="40" data-purecounter-duration="2" class="purecounter"></span>
                        <p>Projects</p>
                    </div>
                    <div class="col-md-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="2" class="purecounter"></span>
                        <p>Public events</p>
                    </div>
                </div>

            </div>

        </div>
    </section>


    <section id="skills" class="skills">
        <div class="row justify-content-center mt-5">
            <div class="container aos-init aos-animate" data-aos="fade-up">
                <div class="section-title">
                    <h2>SKILLS</h2>
                    <div class="divider_short"></div>

                    <p class="fst-italic text-center">Curiosity-driven, I'm a tech enthusiast armed with a diverse set of skills. Ready to embrace any funny challenge that comes my way!</p>
                </div>

                <div class="row skills-content">
                    <div class="col-sm-6">
                        <div class="progress">
                            <span class="skill">HTML <i class="val">100%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <span class="skill">CSS <i class="val">100%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <span class="skill">JavaScript <i class="val">100%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <span class="skill">Node.js <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <span class="skill">React.js & express <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <span class="skill">Next.js <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="progress">
                            <span class="skill">PHP <i class="val">80%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Flask <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>




                        <div class="progress">
                            <span class="skill">WordPress <i class="val">80%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <span class="skill">Shopify <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress">
                            <span class="skill">Wix <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                       <div class="progress">
                            <span class="skill">Bootstrap, Semantic UI, Ant Design, MUI, GSAP <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </section>



</div>


<style>

    .about .text{
        padding-left: 8px;
    }
    .home_page{
        padding-bottom: 100px;
    }


    .section-title {
        text-align: center;
        /*padding-bottom: 10px;*/
    }

    .facts .counters span {
        font-size: 48px;
        display: block;
        color: #34b7a7;
    }
    /*.facts .counters p {*/
    /*    padding: 0;*/
    /*    margin: 0 0 20px 0;*/
    /*    font-family: "Raleway", sans-serif;*/
    /*    font-size: 14px;*/
    /*}*/

    .skills .progress {
        height: 60px;
        display: block;
        background: none;
        border-radius: 0;
    }
    .progress, .progress-stacked {
        --bs-progress-height: 1rem;
        --bs-progress-font-size: 0.75rem;
        --bs-progress-bg: var(--bs-secondary-bg);
        --bs-progress-border-radius: var(--bs-border-radius);
        --bs-progress-box-shadow: var(--bs-box-shadow-inset);
        --bs-progress-bar-color: #fff;
        --bs-progress-bar-bg: #0d6efd;
        --bs-progress-bar-transition: width 0.6s ease;
        display: flex;
        height: var(--bs-progress-height);
        overflow: hidden;
        font-size: var(--bs-progress-font-size);
        background-color: var(--bs-progress-bg);
        border-radius: var(--bs-progress-border-radius);
    }
    .skills .progress .skill {
        padding: 10px 0;
        margin: 0 0 6px 0;
        /*text-transform: uppercase;*/
        display: block;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        color: #222222;
    }
    .skills .progress .skill .val {
        float: right;
        font-style: normal;
    }
    .skills .progress-bar-wrap {
        background: #f3f3f3;
    }
    .skills .progress-bar {
        width: 1px;
        height: 10px;
        transition: 2s;
        background-color: #34b7a7;
    }
    .progress-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        color: var(--bs-progress-bar-color);
        text-align: center;
        white-space: nowrap;
        background-color: var(--bs-progress-bar-bg);
        transition: var(--bs-progress-bar-transition);
    }


</style>






<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="assets/vendor/purecounter/purecounter_vanilla.js" crossorigin="anonymous"></script>

<script>
    (function() {
        const select = (el, all = false) => {
            el = el.trim()
            if (all) {
                return [...document.querySelectorAll(el)]
            } else {
                return document.querySelector(el)
            }
        }

        // Skills animation
        let skillsContent = select('.skills-content');
        if (skillsContent) {
            new Waypoint({
                element: skillsContent,
                offset: '70%',
                duration: 3000,
                handler: function(direction) {
                    let progress = select('.progress .progress-bar', true);
                    progress.forEach((el) => {
                        el.style.width = el.getAttribute('aria-valuenow') + '%'
                    });
                }
            })
        }

        // Facts animation
        new PureCounter();

    })()


</script>








