
<div class="portfolio_page container">
    <section id="portfolio" class="portfolio">
        <div class="row justify-content-center mt-5">
            <h1 class="text-center">PORTFOLIO</h1>
            <div class="divider_short"></div>

            <p class="fst-italic text-center mb-4">
                Software skills that cover it all: Mobile apps, games, websites, cloud services, databases & SQL, data analytics, IoT, Web3 and blockchain tech.
            </p>
        </div>


        <div class="container">
            <ul id="portfolio-filters" class="d-flex justify-content-center">
                <li id="filter-all" data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-web">Web</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-blockchain">Blockchain</li>
                <li data-filter=".filter-iot">IoT</li>
                <li data-filter=".filter-game">Game</li>
                <li data-filter=".filter-event">Event</li>
            </ul>

            <div class="row portfolio-container" id="portfolio-container">

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="assets/img/portfolio/panerai_2.jpg" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Panerai RSVP</h4>
                        <p>Web</p>
                        <a href="assets/img/portfolio/panerai_2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Panerai RSVP"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="fa-solid fa-up-right-from-square"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="assets/img/portfolio/panerai_4.jpg" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Panerai AR panel</h4>
                        <p>Web</p>
                        <a href="assets/img/portfolio/panerai_4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Panerai AR panel"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <!--                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="fa-solid fa-up-right-from-square"></i></a>-->
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-iot">
                    <div class="portfolio-img"><img src="assets/img/portfolio/iot_1.jpg" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Smart suit exhibition</h4>
                        <p>IoT</p>
                        <a href="assets/img/portfolio/iot_1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Smart product exhibition"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <!--                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="fa-solid fa-up-right-from-square"></i></a>-->
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-iot">
                    <div class="portfolio-img"><img src="assets/img/portfolio/school_2.png" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>IoT product exhibition</h4>
                        <p>IoT</p>
                        <a href="assets/img/portfolio/school_2.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="IoT product exhibition"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <!--                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="fa-solid fa-up-right-from-square"></i></a>-->
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="assets/img/portfolio/food2homes_1.png" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Food2homes online shopping</h4>
                        <p>Web</p>
                        <a href="assets/img/portfolio/food2homes_1.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Food2homes online shopping"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <!--                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="fa-solid fa-up-right-from-square"></i></a>-->
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="assets/img/portfolio/sojasoja_1.png" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>SojaSoja online shopping</h4>
                        <p>Web</p>
                        <a href="assets/img/portfolio/sojasoja_1.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="SojaSoja online shopping"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <!--                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="fa-solid fa-up-right-from-square"></i></a>-->
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="assets/img/portfolio/sojasoja_2.png" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>SojaSoja chatbot</h4>
                        <p>Web</p>
                        <a href="assets/img/portfolio/sojasoja_2.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="SojaSoja chatbot"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <!--                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="fa-solid fa-up-right-from-square"></i></a>-->
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="assets/img/portfolio/hkts_1.png" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>HKTS website</h4>
                        <p>Web</p>
                        <a href="assets/img/portfolio/hkts_1.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="HKTS website"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <!--                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="fa-solid fa-up-right-from-square"></i></a>-->
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="assets/img/portfolio/asiacis_1.png" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Asiacis app</h4>
                        <p>App (ios/android)</p>
                        <a href="assets/img/portfolio/asiacis_1.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Asiacis app"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <!--                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="fa-solid fa-up-right-from-square"></i></a>-->
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="assets/img/portfolio/floax_1.png" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Floax online shopping</h4>
                        <p>Web</p>
                        <a href="assets/img/portfolio/floax_1.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Floax online shopping"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <!--                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="fa-solid fa-up-right-from-square"></i></a>-->
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="assets/img/portfolio/buyhse_1.png" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Leading Figure website</h4>
                        <p>Web</p>
                        <a href="assets/img/portfolio/buyhse_1.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Leading Figure website"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <!--                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="fa-solid fa-up-right-from-square"></i></a>-->
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-blockchain">
                    <div class="portfolio-img"><img src="assets/img/portfolio/fatal_racing_1.png" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Fatal racing NFT project</h4>
                        <p>Blockchain</p>
                        <a href="assets/img/portfolio/fatal_racing_1.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Fatal racing NFT project"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <!--                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="fa-solid fa-up-right-from-square"></i></a>-->
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-blockchain">
                    <div class="portfolio-img"><img src="assets/img/portfolio/waaa_im_1.png" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Waaa instant messaging for blockchain wallet</h4>
                        <p>Blockchain</p>
                        <a href="assets/img/portfolio/waaa_im_1.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Waaa instant messaging for blockchain wallet"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <!--                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="fa-solid fa-up-right-from-square"></i></a>-->
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-blockchain">
                    <div class="portfolio-img"><img src="assets/img/portfolio/waaa_trading_app_1.png" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Waaa alternative ABT trading platform</h4>
                        <p>Blockchain</p>
                        <a href="assets/img/portfolio/waaa_trading_app_1.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Waaa alternative ABT trading platform"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <!--                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="fa-solid fa-up-right-from-square"></i></a>-->
                    </div>
                </div>



                <div class="col-lg-4 col-md-6 portfolio-item filter-event">
                    <div class="portfolio-img"><img src="assets/img/portfolio/dg_2.jpg" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Danger education Idea Day</h4>
                        <p>Event</p>
                        <a href="assets/img/portfolio/dg_2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Danger education Idea Day"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <!--                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="fa-solid fa-up-right-from-square"></i></a>-->
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-event">
                    <div class="portfolio-img"><img src="assets/img/portfolio/waaa_2.jpg" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Waaa wine event 2</h4>
                        <p>Event</p>
                        <a href="assets/img/portfolio/waaa_2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Waaa wine event 2"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <!--                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="fa-solid fa-up-right-from-square"></i></a>-->
                    </div>
                </div>
            </div>

        </div>

    </section>
</div>






